 .idea/workspace.xml
 .idea/inspectionProfiles/
 .idea/misc.xml
 .idea/modules.xml
 C:\Users\Peres\PycharmProjects\ ThirdBigBranch20221123\GB\Python\HelloyPython\.idea\modules.xml
 .idea/shelf/
 .idea/vcs.xml
 GB/.idea/.gitignore
 "\320\223\320\221/.idea/"